/* VARIABLES */

:root{
  --color-midnight-green : #014e56;
  --text-color-white: #fff;
  --color-light-coral: #f67e7e;
  --color-rapture-blue: #79c8c7;
  --color-police-blue: #2c6269;
  --color-deep-jungle-green: #004047;
  --color-sacramento-state-green: #012f34;
  --color-dark-green: #002529;
  --main-font-weight-text : 600;
  --main-font-weight-bold : 700;
}

/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column; 
  height: 100%; 
  margin: 0;
  padding: 0;
  font-family: "Livvic", "Arial", sans-serif;
  overflow-x: hidden;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
}
/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}


.delivering{
  padding-top: 140px;
  padding-bottom: 250px;
  background-color: var(--color-deep-jungle-green);
  background-image: url(../images/deliver-top-corner-img.svg), url(../images/delivering-bottom.svg);
  background-position: calc(50% - 610px) calc(50% - 340px), calc(50% + 585px) calc(50% + 380px);
  background-repeat: no-repeat;
}
.delivering__themebox{
  width: 932px;
  margin-right: auto;
  margin-left: auto;
}
.delivering__theme{
  margin: 0;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--text-color-white);
}
.delivering__span{
  color: var(--color-rapture-blue);
}
.delivering__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delivering__item{
  position: relative;
  padding-top: 36px;
  background-image: url(../images/delivere-quote-img.svg);
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50% - 75px);
}
.delivering__item::after{
  position: absolute;
  left: 40%;
  bottom: -100px;
  content: "";
  display: block;
  background-image: url(../images/kady-baker-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 62px;
  height: 62px;
}
.delivering__item:nth-child(2)::after{
  background-image: url(../images/aiysha-reese-img.svg);
}
.delivering__item:nth-child(3)::after{
  background-image: url(../images/arthur-clarke.svg);
}
.delivering__minibox{
  width: 350px;
}
.delivering__text{
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--text-color-white);
}
.delivering__minitheme{
  margin: 0;
  margin-bottom: 2px;
  font-weight: var(--main-font-weight-bold);
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--color-rapture-blue);
}
.delivering__job{
  margin: 0;
  font-weight: var(--main-font-weight-text);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  font-style: italic;
  color: var(--text-color-white);
}
.site-article{
  padding: 76px 0px;
  background-color: var(--color-light-coral);
  background-image: url(../images/ready-to-started-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 575px) calc(50% + 80px);
}
.site-article__box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.site-article__theme{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-sacramento-state-green);
}
.site-article__link{
  padding: 10px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-sacramento-state-green);
  border: 2px solid #012F34;
  border-radius: 24px;
}
.site-article__link:hover{
  border: 2px solid transparent;
  color: var(--text-color-white);
  background-color: var(--color-sacramento-state-green);
}
.site-article__link:active{
  opacity: 0.5;
  background-color: transparent;
  border: 2px solid #012F34;
}

.site-footer{
  padding: 48px 0px;
  background-color: var(--color-dark-green);
}
.site-footer__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__logo{
  margin-bottom: 25px;
}
.site-footer__headerlist{
  display: flex;
  justify-content: space-between;
  width: 140px;
  align-items: center;
}
.site-footer__headeritemlink{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-white);
}
.site-footer__headeritemlink:hover{
  color: var(--color-light-coral);
}

.site-footer__address{
  width: 445px;
  font-style: normal;
}
.site-footer__addresstext{
  margin: 0;
  font-weight: var(--main-font-weight-text);
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color-white);
  opacity: 0.6;
}
.footer-socials{
  width: 255px;
}
.footer-socials__list{
  display: flex;
  width: 104px;
  margin-left: auto;
  margin-bottom: 51px;
  align-items: center;
}
.footer-socials__item{
  margin-right: 16px;
}
.footer-socials__item:last-child{
  margin-right: 0;
}
.footer-socials__item> a > svg{
  color: var(--text-color-white);
}

.footer-socials__text{
  margin: 0;
  font-weight: var(--main-font-weight-text);
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color-white);
  opacity: 0.6;
}
.footer-socials__link > svg:hover{
  color: var(--color-light-coral);
}